/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@use '@cloudscape-design/design-tokens/index.scss' as awsui;

.awsui_tabs-header-list_14rmt_1xftp_298.awsui_tabs-header-list_1acwa_dp0cl_5 {
  justify-content: center;
}

.page-container {
  height: calc(100vh - 56px);
  overflow: hidden;
}
.chat-container {
  height: calc(100vh - 146px);
  margin-top: 10px;
}
.steps:not(:has(.steps)) {
  margin-left: 58px;
  text-indent: -20px!important;
  cursor: pointer!important;

  span {
    word-break: break-word!important;
  }
}
.step-container:not(:last-child)::after {
  content: "|";
  padding-left: 2px;
  display: block;
  margin: -9px 0px;
}

.awsui_tabs-content-wrapper_14rmt_1xftp_575.awsui_with-paddings_14rmt_1xftp_575 > .awsui_tabs-content_14rmt_1xftp_551:not(#\9) {
  padding: 0;
}

.awsui_message-area_cdujn_18ie7_45.awsui_chat-bubble-type-incoming_cdujn_18ie7_62:not(#\9) {
  .awsui_root_14iqq_irvl0_189.awsui_variant-default_14iqq_irvl0_230:not(#\9), .awsui_root_14iqq_irvl0_189.awsui_variant-stacked_14iqq_irvl0_230:not(#\9) {
    border-block: none !important;
    border-inline: none !important;
    background-color: transparent !important;
  }
}
.awsui_content-inner_14iqq_irvl0_493.awsui_with-paddings_14iqq_irvl0_389:not(#\9) {
  padding-block: 0 !important;
  padding-inline: 0 !important;
}
.awsui_message-area_cdujn_18ie7_45:not(#\9) {
  width: 100%;
}
.dark-mode-toggle {
  position: absolute;
  top: 70px;
  right: 30px;
  z-index: 1000;
}
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root {
  color: inherit!important;
}
.css-1gak8h1-MuiToolbar-root-MuiTablePagination-toolbar {
  color: initial!important;
}
.css-de9k3v-MuiDataGrid-selectedRowCount {
  color: initial!important;
}
.awsui_message-area_cdujn_18ie7_45.awsui_chat-bubble-type-incoming_cdujn_18ie7_62:not(#\9) {
  width: calc(100% - 40px);
}
.awsui_header_14iqq_irvl0_346.awsui_with-paddings_14iqq_irvl0_389:not(#\9) {
  display: flex;
  align-items: center;
}
.awsui_tabs-header-list_14rmt_1ebqu_298:not(#\9),.awsui_tabs-header_14rmt_1ebqu_290:not(#\9) {
  justify-content: center !important;
}
.awsui_header_14iqq_96qba_346.awsui_with-paddings_14iqq_96qba_392:not(#\9) {
  display: flex !important;
}
.awsui_tools_hyvsj_lgv7x_981 > .awsui_animated-content_hyvsj_lgv7x_816:not(#\9) {
  margin-bottom: 130px;
}
.awsui_list-variant-root--first_l0dv0_1qapx_250:not(#\9) {
  margin-bottom: 130px!important;
}
[data-amplify-authenticator] {
  padding: 60px 40px;
}
.prompt-label {
  text-align: right;
  margin-right: 9px;
  max-width: 150px;
  font-style: italic;
  line-height: 15px;
}

.amplify-storage-browser__title {
  color: inherit !important;
}
.amplify-storage-browser {
  padding-left: 297px !important;
  padding-right: 297px !important;
  padding-top: 40px !important;
  height: calc(100vh - 100px) !important;
}
.amplify-storage-browser__data-table {
  border-color: gray !important;
  border-radius: 16px !important;
  height: calc(100% - 40px) !important;
}
.amplify-text {
  display: block;
  color: var(--amplify-components-text-color);
}
b.amplify-text,
em.amplify-text,
i.amplify-text,
span.amplify-text,
strong.amplify-text {
  color: inherit!important;
}
.amplify-storage-browser__table-head {
  background-color: awsui.$color-background-cell-shaded !important;
  color: inherit !important;
}

.amplify-table--striped .amplify-table__row:not(.amplify-table__head *):nth-child(odd) {
  color: var(--color-text-chat-bubble-incoming-x2kig8, #0f141a) !important;
  background-color: var(--color-background-chat-bubble-incoming-8pi0ow, #f6f6f9) !important;
}
.links-container > .awsui_root_14iqq_irvl0_189.awsui_variant-default_14iqq_irvl0_230.awsui_refresh_14iqq_irvl0_238:not(#\9), .links-container > .awsui_root_14iqq_irvl0_189.awsui_variant-stacked_14iqq_irvl0_230.awsui_refresh_14iqq_irvl0_238:not(#\9) {
  border-block: none !important;
  border-inline: none !important;
}
.links-container > .awsui_root_14iqq_irvl0_189.awsui_variant-default_14iqq_irvl0_230:not(#\9), .links-container > .awsui_root_14iqq_irvl0_189.awsui_variant-stacked_14iqq_irvl0_230:not(#\9) {
  border-start-start-radius: 0 !important;
  border-start-end-radius: 0 !important;
  border-end-start-radius: 0 !important;
  border-end-end-radius: 0 !important;
  box-sizing: border-box;
}
.awsui_container-body-size-small_xjuzf_hg5hv_783:not(#\9) {
  max-inline-size: 400px !important;
  word-break: break-word !important; 
}
.awsui_container_1cbgc_1n36j_181.awsui_display-inline-block_1cbgc_1n36j_260:not(#\9) {
  word-break: break-word !important;
}
.css-aymtem-MuiDataGrid-virtualScrollerContent {
  color: initial;
}
[class*=amplify] {
  color: initial !important;
}

.css-uvfk0e-MuiDataGrid-root .MuiDataGrid-container--top [role=row], .css-uvfk0e-MuiDataGrid-root .MuiDataGrid-container--bottom [role=row] {
  background-color: awsui.$color-background-cell-shaded !important;
  color: initial;
}

:root {
  --nav-bar-height: 60px;
}