// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0

@use '~@cloudscape-design/design-tokens' as cs;

.chat-container {
  display: flex;
  flex-direction: column;
  gap: cs.$space-static-l;

  &:not(.classic) {
    @media only screen and (min-width: 688px) and (max-width: 1280px) {
      padding-inline: 60px;
    }
  }

  &.classic {
    position: absolute;
    inset-block-end: 0;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  gap: cs.$space-scaled-xs;

  padding-block-start: cs.$space-scaled-xxs;
  padding-block-end: cs.$space-container-horizontal;
  padding-inline: cs.$space-container-horizontal;
}

.access-denied-alert-wrapper {
  display: flex;
  gap: cs.$space-scaled-s;

  &__box {
    flex: 1;
    overflow-x: auto;
    padding-inline: cs.$space-scaled-m;
    padding-block: cs.$space-scaled-s;
    border: 2px solid cs.$color-border-input-default;
    border-radius: cs.$border-radius-input;
    background: cs.$color-background-input-default;
  }
}

.files-container,
.glossary-container {
  height: calc(100vh - 100px); // Adjust the height as needed
  overflow-y: auto;
  padding: 20px;
  
  // Optional: Add smooth scrolling
  scroll-behavior: smooth;
  
  // Optional: Style the scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
}